---
import Search from "@/components/Search.astro";
import ThemeToggle from "@/components/ThemeToggle.astro";
import { menuLinks } from "@/site.config";
import { siteConfig } from "../../site.config";
---

<header class="group relative mb-8 flex items-center sm:ps-18" id="main-header">
	<div class="flex sm:flex-col">
		<a
			aria-current={Astro.url.pathname === "/" ? "page" : false}
			class="inline-flex items-center sm:relative sm:inline-block sm:grayscale sm:hover:filter-none"
			href="/"
		>




<svg
	viewBox="0 0 57.418209 32.052315"
	class="me-3 h-20 w-auto translate-y+3200 sm:absolute sm:-start-1800 sm:h-40"
	xmlns="http://www.w3.org/2000/svg"
	xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
	xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
	xml:space="preserve"
>
	<defs id="defs1">
		<clipPath
             clipPathUnits="userSpaceOnUse"
             id="clipPath17"><rect
               style="fill:#2abc66;fill-opacity:1;stroke:none;stroke-width:0.93738;stroke-linecap:square;stroke-linejoin:miter;stroke-dasharray:none;paint-order:fill markers stroke"
               id="rect17"
               width="93.142891"
               height="64.090034"
               x="288.56006"
               y="796.34711"
               ry="0"
               transform="matrix(0.7523157,-0.65880277,0,1,0,0)" /></clipPath><clipPath
             clipPathUnits="userSpaceOnUse"
             id="clipPath17-2"><rect
               style="fill:#2abc66;fill-opacity:1;stroke:none;stroke-width:0.93738;stroke-linecap:square;stroke-linejoin:miter;stroke-dasharray:none;paint-order:fill markers stroke"
               id="rect17-7"
               width="93.142891"
               height="64.090034"
               x="288.56006"
               y="796.34711"
               ry="0"
               transform="matrix(0.7523157,-0.65880277,0,1,0,0)" /></clipPath><clipPath
             clipPathUnits="userSpaceOnUse"
             id="clipPath17-2-1"><rect
               style="fill:#2abc66;fill-opacity:1;stroke:none;stroke-width:0.93738;stroke-linecap:square;stroke-linejoin:miter;stroke-dasharray:none;paint-order:fill markers stroke"
               id="rect17-7-3"
               width="93.142891"
               height="64.090034"
               x="288.56006"
               y="796.34711"
               ry="0"
               transform="matrix(0.7523157,-0.65880277,0,1,0,0)" /></clipPath><clipPath
             clipPathUnits="userSpaceOnUse"
             id="clipPath17-2-1-9"><rect
               style="fill:#2abc66;fill-opacity:1;stroke:none;stroke-width:0.93738;stroke-linecap:square;stroke-linejoin:miter;stroke-dasharray:none;paint-order:fill markers stroke"
               id="rect17-7-3-8"
               width="93.142891"
               height="64.090034"
               x="288.56006"
               y="796.34711"
               ry="0"
               transform="matrix(0.7523157,-0.65880277,0,1,0,0)" /></clipPath><clipPath
             clipPathUnits="userSpaceOnUse"
             id="clipPath17-2-1-8"><rect
               style="fill:#2abc66;fill-opacity:1;stroke:none;stroke-width:0.93738;stroke-linecap:square;stroke-linejoin:miter;stroke-dasharray:none;paint-order:fill markers stroke"
               id="rect17-7-3-6"
               width="93.142891"
               height="64.090034"
               x="288.56006"
               y="796.34711"
               ry="0"
               transform="matrix(0.7523157,-0.65880277,0,1,0,0)" /></clipPath><clipPath
             clipPathUnits="userSpaceOnUse"
             id="clipPath17-2-1-3"><rect
               style="fill:#2abc66;fill-opacity:1;stroke:none;stroke-width:0.93738;stroke-linecap:square;stroke-linejoin:miter;stroke-dasharray:none;paint-order:fill markers stroke"
               id="rect17-7-3-4"
               width="93.142891"
               height="64.090034"
               x="288.56006"
               y="796.34711"
               ry="0"
               transform="matrix(0.7523157,-0.65880277,0,1,0,0)" /></clipPath><clipPath
             clipPathUnits="userSpaceOnUse"
             id="clipPath17-2-1-37"><rect
               style="fill:#2abc66;fill-opacity:1;stroke:none;stroke-width:0.93738;stroke-linecap:square;stroke-linejoin:miter;stroke-dasharray:none;paint-order:fill markers stroke"
               id="rect17-7-3-88"
               width="93.142891"
               height="64.090034"
               x="288.56006"
               y="796.34711"
               ry="0"
               transform="matrix(0.7523157,-0.65880277,0,1,0,0)" /></clipPath><clipPath
             clipPathUnits="userSpaceOnUse"
             id="clipPath17-2-1-7"><rect
               style="fill:#2abc66;fill-opacity:1;stroke:none;stroke-width:0.93738;stroke-linecap:square;stroke-linejoin:miter;stroke-dasharray:none;paint-order:fill markers stroke"
               id="rect17-7-3-63"
               width="93.142891"
               height="64.090034"
               x="288.56006"
               y="796.34711"
               ry="0"
               transform="matrix(0.7523157,-0.65880277,0,1,0,0)" /></clipPath>
	</defs>

	<g
		inkscape:label="Layer 1"
		inkscape:groupmode="layer"
		id="layer1"
		transform="translate(-75.645851,-115.95502)"
	>
           <g
             style="fill:none"
             id="g1"
             transform="matrix(0.26458333,0,0,0.26458333,69.05625,84.931251)"><g
               id="g19"
               transform="matrix(0.24106001,0,0,0.24106001,101.25203,134.95964)"><g
                 id="g18"
                 transform="matrix(0.45942218,0.07685935,-0.00368668,0.46768561,2.7330456,-159.61423)"><rect
                   style="fill:#caffbd;fill-opacity:1;stroke:none;stroke-width:1.2759;stroke-linecap:square;stroke-linejoin:miter;stroke-dasharray:none;paint-order:fill markers stroke"
                   id="rect11-1"
                   width="70.411369"
                   height="157.07153"
                   x="184.48199"
                   y="533.58862"
                   ry="0"
                   clip-path="url(#clipPath17)"
                   transform="matrix(0.99689481,0,3.4412411e-4,1,0.25921088,0)" /><g
                   id="g17"><rect
                     style="fill:#2abc89;fill-opacity:1;stroke:none;stroke-width:0.812149;stroke-linecap:square;stroke-linejoin:miter;stroke-dasharray:none;paint-order:fill markers stroke"
                     id="rect11"
                     width="70.411369"
                     height="63.641056"
                     x="146.57346"
                     y="606.53436"
                     ry="0" /><rect
                     style="fill:#d882aa;fill-opacity:1;stroke:none;stroke-width:0.731314;stroke-linecap:square;stroke-linejoin:miter;stroke-dasharray:none;paint-order:fill markers stroke"
                     id="rect11-2"
                     width="70.602585"
                     height="51.463009"
                     x="840.86902"
                     y="870.82684"
                     ry="0"
                     transform="matrix(1,0,-0.75320514,0.65778569,0,0)" /></g></g><g
                 id="g18-4"
                 transform="matrix(0.45942218,0.07685935,-0.00368668,0.46768561,99.824035,-159.61423)"
                 style="fill:none"><rect
                   style="fill:#caffbd;fill-opacity:1;stroke:none;stroke-width:1.2759;stroke-linecap:square;stroke-linejoin:miter;stroke-dasharray:none;paint-order:fill markers stroke"
                   id="rect11-1-3"
                   width="70.411369"
                   height="157.07153"
                   x="184.48199"
                   y="533.58862"
                   ry="0"
                   clip-path="url(#clipPath17-2)"
                   transform="matrix(0.99689481,0,3.4412411e-4,1,0.25921088,0)" /><g
                   id="g17-1"><rect
                     style="fill:#2abc89;fill-opacity:1;stroke:none;stroke-width:0.812149;stroke-linecap:square;stroke-linejoin:miter;stroke-dasharray:none;paint-order:fill markers stroke"
                     id="rect11-23"
                     width="70.411369"
                     height="63.641056"
                     x="146.57346"
                     y="606.53436"
                     ry="0" /><rect
                     style="fill:#d882aa;fill-opacity:1;stroke:none;stroke-width:0.731314;stroke-linecap:square;stroke-linejoin:miter;stroke-dasharray:none;paint-order:fill markers stroke"
                     id="rect11-2-3"
                     width="70.602585"
                     height="51.463009"
                     x="840.86902"
                     y="870.82684"
                     ry="0"
                     transform="matrix(1,0,-0.75320514,0.65778569,0,0)" /></g></g><path
                 style="fill:none;fill-opacity:1;stroke:#2abc89;stroke-width:11.9947;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1;paint-order:fill markers stroke"
                 d="m 30.902928,177.09571 c 0,0 2.824915,3.05733 3.655848,3.82594 0.830933,0.76861 1.582822,2.95869 3.181579,4.33599 1.598757,1.3773 4.164068,3.4977 6.467541,5.32376 2.303472,1.82606 4.584475,3.83652 7.529554,5.95142 2.945079,2.11491 5.477084,4.81298 9.000661,7.0568 3.523577,2.24382 8.278094,2.4775 12.31706,4.69031 4.038965,2.21281 3.580622,13.17157 8.071868,15.19345 4.491246,2.02189 17.770299,-14.16688 22.536181,-12.19274 4.03412,1.67104 6.55448,19.88321 11.76096,21.04347 5.20648,1.16026 13.09908,-17.10101 18.56851,-16.61145 5.46944,0.48956 9.53125,17.02182 15.20052,16.68076 5.66928,-0.34106 12.43825,-14.67806 18.24427,-16.00966 5.80601,-1.33161 12.00313,15.08141 17.88277,12.59934 5.87964,-2.48208 9.07219,-15.39634 14.96235,-19.1888 5.89015,-3.79246 14.81644,-6.92604 20.65401,-12.18882 5.83757,-5.26277 9.26345,-12.31624 14.98532,-19.20925"
                 id="path15"
                 sodipodi:nodetypes="csssssssssssssssc" /><path
                 style="fill:none;fill-opacity:1;stroke:#caffbd;stroke-width:4.81512;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1;paint-order:fill markers stroke"
                 d="m 30.423682,177.18824 c 0,0 2.824915,3.05733 3.655848,3.82594 0.830933,0.76861 1.582822,2.95869 3.181579,4.33599 1.598757,1.3773 4.164068,3.4977 6.467541,5.32376 2.303472,1.82606 4.584475,3.83652 7.529554,5.95142 2.945079,2.11491 5.477084,4.81298 9.000661,7.0568 3.523577,2.24382 8.278094,2.4775 12.31706,4.69031 4.038965,2.21281 3.580622,13.17157 8.071868,15.19345 4.491246,2.02189 17.770298,-14.16688 22.536177,-12.19274 4.03412,1.67104 6.55448,19.88321 11.76096,21.04347 5.20648,1.16026 13.09908,-17.10101 18.56851,-16.61145 5.46944,0.48956 9.53125,17.02182 15.20052,16.68076 5.66928,-0.34106 12.43825,-14.67806 18.24427,-16.00966 5.80601,-1.33161 12.00313,15.08141 17.88277,12.59934 5.87964,-2.48208 9.07219,-15.39634 14.96235,-19.1888 5.89015,-3.79246 14.81644,-6.92604 20.65401,-12.18882 5.83757,-5.26277 9.26345,-12.31624 14.98532,-19.20925"
                 id="path15-6"
                 sodipodi:nodetypes="csssssssssssssssc" /><path
                 style="fill:none;fill-opacity:1;stroke:#d882aa;stroke-width:1.41354;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1;paint-order:fill markers stroke"
                 d="m 31.536246,170.73464 c 0,0 2.7826,1.02624 3.909735,1.83716 0.918817,0.66105 2.809943,3.17026 4.4087,4.54756 1.598757,1.3773 1.921398,3.58233 4.224871,5.40839 2.303472,1.82606 5.261508,4.21735 8.206587,6.33225 2.945079,2.11491 6.01144,4.31706 9.127604,7.09912 4.042976,3.60951 12.101908,5.70891 16.083053,7.8639 4.05012,2.19233 2.826172,8.07355 5.829198,11.97754 2.206262,2.86818 12.181431,-12.48627 22.451546,-10.58479 8.46671,1.56759 8.06034,22.38916 11.8879,18.67386 4.99491,-4.8484 8.86763,-15.15454 17.00288,-14.53804 5.4756,0.41495 7.95599,6.06873 14.35423,15.36901 1.76139,2.5603 10.79277,-15.16169 19.47139,-14.52865 6.1402,0.44788 9.97489,7.86689 15.13232,11.62611 2.74837,2.00326 8.01433,-17.38513 17.07808,-19.52732 6.81764,-1.61133 16.79443,-7.77073 20.70058,-14.591 4.04231,-7.05802 6.45088,-9.92257 12.11291,-15.19985"
                 id="path15-6-0"
                 sodipodi:nodetypes="csssssssssssssssc" /></g></g></g>
      </svg>








			<span class="text-xl font-bold sm:text-2xl">{siteConfig.title}</span>
		</a>
		<nav
			aria-label="Main menu"
			class="bg-global-bg absolute -inset-x-4 top-12 hidden flex-col divide-y px-2 py-4 group-[.menu-open]:z-50 group-[.menu-open]:flex sm:static sm:z-auto sm:-ms-4 sm:mt-1 sm:flex sm:flex-row sm:divide-x sm:divide-y-0 sm:bg-transparent sm:p-0"
			id="navigation-menu"
		>
			{
				menuLinks.map((link) => (
					<a
						aria-current={Astro.url.pathname === link.path ? "page" : false}
						class="text-accent px-2 py-4 font-semibold sm:px-4 sm:py-0 sm:underline-offset-2 sm:hover:underline"
						href={link.path}
					>
						{link.title}
					</a>
				))
			}
		</nav>
	</div>
	<Search />
	<ThemeToggle />
	<mobile-button>
		<button
			aria-expanded="false"
			aria-haspopup="menu"
			class="group relative ms-4 h-7 w-7 sm:invisible sm:hidden"
			id="toggle-navigation-menu"
			type="button"
		>
			<span class="sr-only">Open main menu</span>
			<svg
				aria-hidden="true"
				class="absolute start-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-0 transition-all group-aria-expanded:scale-0 group-aria-expanded:opacity-0"
				fill="none"
				focusable="false"
				id="line-svg"
				stroke="currentColor"
				stroke-width="1.5"
				viewBox="0 0 24 24"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path d="M3.75 9h16.5m-16.5 6.75h16.5" stroke-linecap="round" stroke-linejoin="round"
				></path>
			</svg>
			<svg
				aria-hidden="true"
				class="text-accent absolute start-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-0 scale-0 opacity-0 transition-all group-aria-expanded:scale-100 group-aria-expanded:opacity-100"
				class="text-accent"
				fill="none"
				focusable="false"
				id="cross-svg"
				stroke="currentColor"
				stroke-width="1.5"
				viewBox="0 0 24 24"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path d="M6 18L18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round"></path>
			</svg>
		</button>
	</mobile-button>
</header>
<div class="mb-16 border-b border-[#292f38]"></div>

<script>
	import { toggleClass } from "@/utils/domElement";

	class MobileNavBtn extends HTMLElement {
		#menuOpen: boolean = false;

		connectedCallback() {
			const headerEl = document.getElementById("main-header")!;
			const mobileButtonEl = this.querySelector<HTMLButtonElement>("button");

			mobileButtonEl?.addEventListener("click", () => {
				if (headerEl) toggleClass(headerEl, "menu-open");
				this.#menuOpen = !this.#menuOpen;
				mobileButtonEl.setAttribute("aria-expanded", this.#menuOpen.toString());
			});
		}
	}

	customElements.define("mobile-button", MobileNavBtn);
</script>
