---
import { Icon } from "astro-icon/components";

/**
	Uses https://www.astroicon.dev/getting-started/
	Find icons via guide: https://www.astroicon.dev/guides/customization/#open-source-icon-sets
	Only installed pack is: @iconify-json/mdi
*/
const socialLinks: {
	friendlyName: string;
	isWebmention?: boolean;
	link: string;
	name: string;
	isExternal?: boolean;
}[] = [
	{
		friendlyName: "GitHub",
		link: "https://github.com/euagelobill",
		name: "mdi:github",
		isExternal: true,
	},
	{
		friendlyName: "LinkedIn",
		link: "https://linkedin.com/in/vasileios-evangelopoulos/",
		name: "mdi:linkedin",
		isExternal: true,
	},
	{
		friendlyName: "Phone",
		link: "tel:+306996672217",
		name: "mdi:phone",
		isExternal: false,
	},
	{
		friendlyName: "Email",
		link: "mailto:vasileiosevangelopoulos1@gmail.com",
		name: "mdi:email",
		isExternal: false,
	},
];
---

<div class="flex flex-wrap items-center gap-4">
	{
		socialLinks.map(({ friendlyName, isWebmention, link, name, isExternal }) => (
			<a
				class="hover:text-link flex items-center gap-2 transition-colors"
				href={link}
				rel={isExternal ? `noreferrer ${isWebmention ? "me authn" : ""}` : undefined}
				target={isExternal ? "_blank" : undefined}
			>
				<Icon aria-hidden="true" class="h-6 w-6" focusable="false" name={name} />
				<span>{friendlyName}</span>
			</a>
		))
	}
</div>
